<section class="about-me">
	<div id="about-me" class="about-me__info">
		<h2>Sobre mim</h2>

		<pre>
			Quem sou eu? Bom, sou um desenvolvedor front-end apaixonado pelo que faço, com especialização em aplicações Angular e com 2 anos e 7 meses de experiência.
			Além disso, possuo KnowHow em aplicações relacionadas a Recursos Humanos.

			Ao longo da minha trajetória, busquei a excelência em cada projeto, combinando estratégia e escalabilidade. Contribuí em projetos impactantes, enfrentando desafios complexos e colaborando com equipes talentosas.

			Meu portfólio reflete não apenas habilidades técnicas, mas também um compromisso contínuo com a inovação no desenvolvimento front-end.
			Então pegue um cafézinho e seja bem vindo à minha jornada de desenvolvimento
		</pre>
	</div>

	<img ngSrc="assets/illustrations/man-at-computer.svg" alt="" height="532" width="520">

</section>
