<section class="toolbar">
	<nav class="navbar">
		<a href="#about-me">Sobre mim</a>
		<a href="#skills">Habilidades</a>
		<a href="#projects">Projetos</a>
		<a href="#professional-achievements">Experiência profissional</a>
		<a href="#talk-with-me">Fale comigo</a>
	</nav>

	<mat-icon class="menu-button" matRipple [matMenuTriggerFor]="menu">
		menu
	</mat-icon>
</section>


<mat-menu class="teste-teste" [hasBackdrop]="true" #menu="matMenu">
	<a mat-menu-item href="#about-me">Sobre mim</a>
	<a mat-menu-item href="#skills">Habilidades</a>
	<a mat-menu-item href="#projects">Projetos</a>
	<a mat-menu-item href="#professional-achievements">Experiência profissional</a>
	<a mat-menu-item href="#talk-with-me">Fale comigo</a>
</mat-menu>
