<div id="professional-achievements" class="info">
	<h2>Experiência profissional</h2>

	<div class="job">
		<div class="job__info">
			<h3>Desenvolvedor front-end</h3>
			<h4 class="job__company">Joinin Tecnologia (2021 - Hoje)</h4>

			<div class="job__container">
				<div class="job__description">
					<strong>Atribuições</strong>
					<ul>
						<li>Análise e planejamento de ferramentas</li>
						<li>Prototipação e design de interfaces</li>
						<li>Desenvolvimento de sistemas web com Angular 14, SASS e Typescript</li>
						<li>Implementação de ferramentas voltadas ao mundo corporativo como cartão ponto, banco de horas, folha de pagamento, etc.</li>
						<li>Desenvolvimento e manutenção de ferramentas de comunicação interna como chat para os colaboradores, notificações e postagens</li>
					</ul>
				</div>

				<div class="job__description">
					<strong>Principais realizações</strong>
					<ul>
						<li>
							Liderei o <em>processo de implementação de testes automatizados</em> na aplicação em que trabalhamos,
							buscando melhores práticas de teste e adaptando o que mais fazia sentido para a nossa arquitetura
						</li>
						<li>
							Também fui responsável por <em>arquitetar soluções que visavam melhorar a performance da aplicação</em>
							utilizando memoização de algumas funções custosas que impactavam a experiência do usuário
						</li>
						<li>
							<em>Trouxe a biblioteca NgRx para aplicar gerenciamento de estado</em> de informações globais como
							ferramentas, usuário, publicações, etc.
						</li>
						<li>
							Fui o principal responsável por atualizar a aplicação que antes usava <em>Angular 11 para o Angular
							16</em>, descrevendo e delegando a implementação de mudanças
							que seriam necessárias no projeto para que isso fosse possível.
							O resultado foi uma gigantesca melhoria de performance para o usuário,
							diminuição no tempo de build do projeto reduzindo o tempo de geração de versão pela metade e simplificando processos de desenvolvimento
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
